<!DOCTYPE html>
<html lang="en">

<%- include ../../../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../../../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Past Questions for Computer Science 200 Level Students
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-image"></i> Past Questions
                </li>
            </ol>

            <%- include ../../../partial/advert  %>

            <%- include ../../../partial/extra %>


                <div>
                  <h3 class="text-center">Uploaded By Ambassador<b> Olabayo Segun Emmanuel</b> - from Computer Science department, 2015/2016 Session</h3>
                </div>

            <div class="containezr">
                <iframe src="https://drive.google.com/file/d/1isd24w_aroGxa3MDHiwMRyT4njXbMl2t/preview" class="document"></iframe>
            </div>

            <%- include ../../../partial/advert  %>

    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../../../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../../../partial/script %>

</body>

</html>
