<!DOCTYPE html>
<html lang="en">
<%- include ../../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                       Journals
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="/">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-compass"></i> Wikipedia Journals
                </li>
            </ol>
            <%- include ../../partial/extra %>

            <div class="">

        <h4 class="red-text text-center font-weight-bold h3-responsive">Astronomy and astrophysics</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Astronomy and astrophysics Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Astronomical_Journal">Astronomical Journal</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Astronomy_and_Astrophysics">Astronomy and Astrophysics</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Astrophysical_Journal">Astrophysical Journal</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Monthly_Notices_of_the_Royal_Astronomical_Society">Monthly Notices of the Royal Astronomical Society</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Publications_of_the_Astronomical_Society_of_the_Pacific">Publications of the Astronomical Society of the Pacific</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_astronomy_journals" class="blue-text">For a more comprehensive list, see List of astronomy journals.</a></td>
                        </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Chemistry</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Chemistry Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Accounts_of_Chemical_Research">Accounts of Chemical Research</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Angewandte_Chemie">Angewandte Chemie</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Bulletin_of_the_Chemical_Society_of_Japan">Bulletin of the Chemical Society of Japan</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Canadian_Journal_of_Chemistry">Canadian Journal of Chemistry</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Chemical_Communications">Chemical Communications</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Chemical_Reviews" >Chemical Reviews</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">7</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Chemistry_-_A_European_Journal">Chemistry - A European Journal</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">8</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Chemistry_Letters">Chemistry Letters</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">9</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Helvetica_Chimica_Acta">Helvetica Chimica Acta</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">10</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_the_American_Chemical_Society">Journal of the American Chemical Society</a></td>
                        </tr>
                        <tr class="">
                                <td class="h5">11</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_chemistry_journals" class="blue-text">For a more comprehensive list, see List of chemistry journals.</a></td>
                            </tr>
                        </tbody>
                      </table>
            </div>
    <h4 class="red-text text-center font-weight-bold h3-responsive">Materials science</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Materials science Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/ACS_Nano">ACS Nano</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Advanced_Functional_Materials">Advanced Functional Materials</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Advanced_Materials">Advanced Materials</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Annual_Review_of_Condensed_Matter_Physics">Annual Review of Condensed Matter Physics</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Materials_Chemistry_A">Journal of Materials Chemistry A (energy and sustainability)</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Materials_Chemistry_B" >Journal of Materials Chemistry B (biology and medicine)</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">7</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Materials_Chemistry_C">Journal of Materials Chemistry C (optical, magnetic and electronic devices)</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">8</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Nano_Letters">Nano Letters</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">9</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Nature_Materials">Nature Materials</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">10</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Nature_Nanotechnology">Nature Nanotechnology</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">11</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Progress_in_Materials_Science">Progress in Materials Science</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">12</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Progress_in_Polymer_Science">Progress in Polymer Science</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">13</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Materials_Horizons">Materials Horizons</a></td>
                        </tr>
                        <tr class="">
                                <td class="h5">14</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_materials_science_journals" class="blue-text">For a more comprehensive list, see List of materials science journals.</a></td>
                            </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">General Mathematics</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of General mathematics Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Acta_Mathematica">Acta Mathematica</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Annals_of_Mathematics">Annals of Mathematics</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Bulletin_of_the_American_Mathematical_Society"> Bulletin of the American Mathematical Society</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Communications_on_Pure_and_Applied_Mathematics">Communications on Pure and Applied Mathematics</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Duke_Mathematical_Journal">Duke Mathematical Journal</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Inventiones_Mathematicae" >Inventiones Mathematicae</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">7</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Algebra">Journal of Algebra</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">8</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_the_American_Mathematical_Society">Journal of the American Mathematical Society</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">9</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Differential_Geometry">Journal of Differential Geometry</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">10</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Publications_Math%C3%A9matiques_de_l%27IH%C3%89S">Publications Mathématiques de l'IHÉS</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">11</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Topology_(journal)">Topology</a></td>
                        </tr>

                        <tr class="">
                                <td class="h5">12</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_materials_science_journals" class="blue-text">For a more comprehensive list, see List of mathematics journals.</a></td>
                            </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Computer science</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Computer science Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Artificial_Intelligence_(journal)">Artificial Intelligence</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Communications_of_the_ACM">Communications of the ACM</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Computer_(magazine)">Computer</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/IEEE_Transactions_on_Pattern_Analysis_and_Machine_Intelligence">IEEE Transactions on Pattern Analysis and Machine Intelligence</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/IEEE_Transactions_on_Computers">IEEE Transactions on Computers</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/IEEE_Transactions_on_Evolutionary_Computation" >IEEE Transactions on Evolutionary Computation</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">7</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/IEEE_Transactions_on_Fuzzy_Systems">IEEE Transactions on Fuzzy Systems</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">8</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/IEEE_Transactions_on_Information_Theory">IEEE Transactions on Information Theory</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">9</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/IEEE_Transactions_on_Neural_Networks_and_Learning_Systems">IEEE Transactions on Neural Networks and Learning Systems</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">10</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/International_Journal_of_Computer_Vision">International Journal of Computer Vision</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">11</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Artificial_Intelligence_Research">Journal of Artificial Intelligence Research</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">12</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Cryptology">Journal of Cryptology</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">13</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Functional_Programming">Journal of Functional Programming</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">14</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Machine_Learning_Research">Journal of Machine Learning Research</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">15</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_the_ACM">Journal of the ACM</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">16</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/SIAM_Journal_on_Computing">SIAM Journal on Computing</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">17</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/SIAM_Journal_on_Computing">The International Journal of Robotics Research</a></td>
                        </tr>
                        <tr class="">
                                <td class="h5">18</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Category:Computer_science_journals" class="blue-text">For a more comprehensive list, see Category:Computer science journals.</a></td>
                            </tr>
                        </tbody>
                      </table>
            </div>


            <h4 class="red-text text-center font-weight-bold h3-responsive">Biophysics and biochemistry</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Biophysics and biochemistry Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Biochemical_Journal">Biochemical Journal</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Biochemistry_(journal)">Biochemistry</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Biophysical_Journal">Biophysical Journal</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/European_Journal_of_Biochemistry">European Journal of Biochemistry</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/FEBS_Journal">FEBS Journal</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Biological_Chemistry" >Journal of Biological Chemistry</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">7</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Clinical_Lipidology">Journal of Clinical Lipidology</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">8</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Molecular_Biology">Journal of Molecular Biology</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">9</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Proteins_(journal)">Proteins</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">10</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/RNA_(journal)">RNA</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">11</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Xenobiotica">Xenobiotica</a></td>
                        </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Botany</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Botany Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/American_Journal_of_Botany">American Journal of Botany</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Annals_of_Botany">Annals of Botany</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Aquatic_Botany">Aquatic Botany</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/International_Journal_of_Plant_Sciences">International Journal of Plant Sciences</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/New_Phytologist">New Phytologist</a></td>
                        </tr>

                        <tr class="">
                                <td class="h5">6</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_botany_journals" class="blue-text">For a more comprehensive list, see List of botany journals.</a></td>
                            </tr>

                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Chronobiology</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">List of Chronobiology Journal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Chronobiology_International">Chronobiology International</a></td>
                          </tr>


                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Zoology</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Zoology Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Zoology">Journal of Zoology</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Zoology_(journal)">Zoology</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Zootaxa">Zootaxa</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Animal_Cognition">Animal Cognition</a></td>
                        </tr>

                        <tr class="">
                                <td class="h5">5</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_zoology_journals" class="blue-text">For a more comprehensive list, see List of zoology journals.</a></td>
                            </tr>

                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Biology in general</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Biology Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/BioEssays">BioEssays</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Biological_Reviews">Biological Reviews</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Biophysical_Journal">Biophysical Journal</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/PLOS_Biology">PLOS Biology</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Cell_(journal)">Cell</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">6</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/ELife">eLife</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">7</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/International_Journal_of_Biological_Sciences">International Journal of Biological Sciences</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">8</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Cell_Biology">Journal of Cell Biology</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">9</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Molecular_Biology">Journal of Molecular Biology</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">10</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Theoretical_Biology">Journal of Theoretical Biology</a></td>
                        </tr>
                         <tr class="">
                            <td class="h5">11</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Virology">Journal of Virology</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">12</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Philosophical_Transactions_of_the_Royal_Society_B">Philosophical Transactions of the Royal Society B</a></td>
                        </tr>
                        <tr class="">
                                <td class="h5">13</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_biology_journals" class="blue-text">For a more comprehensive list, see List of biology journals.</a></td>
                            </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Agriculture</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Agriculture Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Agronomy_for_Sustainable_Development"> Agronomy for Sustainable Development</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Animal_Production_Science">Animal Production Science</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Animal_Science">Journal of Animal Science</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_the_Science_of_Food_and_Agriculture">Journal of the Science of Food and Agriculture</a></td>
                        </tr>
                        <tr class="">
                            <td class="h5">5</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Journal_of_Soil_and_Water_Conservation">Journal of Soil and Water Conservation</a></td>
                        </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Development</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Development Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Development_(journal)">Development</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Developmental_Biology">Developmental Biology</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Developmental_Cell">Developmental Cell</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Cell_Stem_Cell">Cell Stem Cell</a></td>
                        </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="red-text text-center font-weight-bold h3-responsive">Forestry</h4>
            <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h4 font-weight-bold" style="width: 5%;">S/N</th>
                            <th class="h4 font-weight-bold">Lists of Forestry Journals</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h5">1</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Bosque_(journal)">Bosque</a></td>
                          </tr>
                          <tr class="">
                            <td class="h5">2</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Canadian_Journal_of_Forest_Research">Canadian Journal of Forest Research</a></td>
                          </tr>
                          <tr class="">
                                <td class="h5">3</td>
                                <td class="h5"><a href="https://en.m.wikipedia.org/wiki/Forest_Ecology_and_Management">Forest Ecology and Management</a></td>
                              </tr>
                        <tr class="">
                            <td class="h5">4</td>
                            <td class="h5"><a href="https://en.m.wikipedia.org/wiki/List_of_forestry_journals">For a more comprehensive list, see List of forestry journals.</a></td>
                        </tr>
                        </tbody>
                      </table>
            </div>

            <h4 class="p-4 red white-text text-center">Others will be uploaded soon</h4>

    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../../partial/script %>

</body>

</html>
