<!DOCTYPE html>
<html lang="en">
<%- include ../../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                       All-In-One Newspaper
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="/">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-lightbulb-o"></i> Newspaper
                </li>
            </ol>
            <%- include ../../partial/extra %>

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-5" onclick="window.open('https://www.punchng.com');">
              <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>PUNCH</a></h4>
                    </div>
                </div>
        </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.vanguardngr.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;" >
                        <h4 class="card-title text-center h3-responsive-responsive"><a>VANGUARD</a></h4>
                    </div>
                </div>
        </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.thenationonlineng.net');">
            <div class="card">
                <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                    <h4 class="card-title text-center h3-responsive-responsive"><a>THE NATION</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.thisdaylive.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>THISDAY</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.dailysun.co.za/news');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>DAILY SUN</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.guardian.ng');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>GUARDIAN</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://www.dailytimes.ng');">
                    <div class="card">
                        <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                            <h4 class="card-title text-center h3-responsive-responsive"><a>DAILY TIMES</a></h4>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://www.dailytrust.com.ng');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>DAILY TRUST</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.independent.ng');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>DAILY INDEPENDENT</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.tribuneonlineng.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>TRIBUNE</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://leadership.ng');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>LEADERSHIP</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.nationalmirroronline.net');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>NATIONAL MIRROR</a></h4>
                    </div>
                </div>
            </div>
         <div class="col-md-3 mb-5" onclick="window.open('https://www.businessday.ng');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>BUSINESS DAY</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.newtelegraphonline.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>NEW TELEGRAPH</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.peoplesdailyng.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>PEOPLES DAILY</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://www.nigerianpilot.com');">
                    <div class="card">
                        <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                            <h4 class="card-title text-center h3-responsive-responsive"><a> NIGERIA PILOT</a></h4>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://saharareporters.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>SAHARA REPORTERS</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.premiumtimesng.com');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h3-responsive-responsive"><a>PREMIUM TIMES</a></h4>
                    </div>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.thecable.ng');">
                <div class="card">
                    <div class="card-body" style="margin: 5px 5px; cursor: pointer;">
                        <h4 class="card-title text-center h4-responsive"><a>THE CABLE</a></h4>
                    </div>
                </div>
            </div>



    </div>
</div>






    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../../partial/script %>

</body>

</html>
