<!DOCTYPE html>
<html lang="en">
<%- include ../../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                       All-In-One Newspaper
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="/">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-lightbulb-o"></i> Newspaper
                </li>
            </ol>
            <%- include ../../partial/extra %>

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-5" onclick="window.open('https://www.punchng.com');">
              <div class="card red p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/logo.png" alt="Card image cap">
                   </center>
                </div>
        </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.vanguardngr.com');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/vanguardlogo.png" alt="Card image cap">
                   </center>
            </div>
        </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.thenationonlineng.net');">
            <div class="card black p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/trans-tn.fw_.fw_-1.png" alt="Card image cap">
                   </center>
            </div>
        </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.thisdaylive.com');">
            <div class="card p-2" style="cursor: pointer; background: rgb(217, 16, 16);">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/2006f19b-td_amp_logo.png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.dailysun.co.za/news');">
            <div class="card p-2" style="cursor: pointer; background: rgb(217, 16, 16);">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/mobilelogo.png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.guardian.ng');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/guardian_logo@2x.png" alt="Card image cap">
                   </center>
            </div>
            </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://www.dailytimes.ng');">
                <div class="card white p-2" style="cursor: pointer;">
                        <center> <br>
                            <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/newdtn.jpg" alt="Card image cap">
                       </center>
                </div>
                </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://www.dailytrust.com.ng');">
                <div class="card white p-2" style="cursor: pointer;">
                        <center> <br>
                            <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/dailytrust_com_ng.jpg" alt="Card image cap">
                       </center>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.independent.ng');">
            <div class="card black p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/logo-mobile-retina-2.png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.tribuneonlineng.com');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/logo (1).png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://leadership.ng');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/leadership-neswpaper-logo1-4.jpg" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.nationalmirroronline.net');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/cropped-rsz_logomakr_6mdc6b.png" alt="Card image cap">
                   </center>
            </div>
            </div>
         <div class="col-md-3 mb-5" onclick="window.open('https://www.businessday.ng');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/Screen-Shot-2019-04-19-at-10.06.22-AM-1.png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.newtelegraphng.com');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/new-telegraph-logo-2.png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.peoplesdailyng.com');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/logo (2).png" alt="Card image cap">
                   </center>
            </div>
            </div>
            <div class="col-md-3 mb-5" onclick="window.open('https://www.nigerianpilot.com');">
                <div class="card white p-2" style="cursor: pointer;">
                        <center> <br>
                            <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/Logopilot.png" alt="Card image cap">
                       </center>
                </div>
                </div>
            <div class="col-md-3 mb-5" onclick="window.open('http://saharareporters.com');">
                <div class="card white p-2" style="cursor: pointer;">
                        <center> <br>
                            <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/Screenshot from 2019-05-16 12-36-11.png" alt="Card image cap">
                       </center>
                </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.premiumtimesng.com');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/logo (3).png" alt="Card image cap">
                   </center>
            </div>
            </div>
        <div class="col-md-3 mb-5" onclick="window.open('https://www.thecable.ng');">
            <div class="card white p-2" style="cursor: pointer;">
                    <center> <br>
                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 60px; width: auto;" class="card-img-top mb-4 img-fluid" src="stylesheets/images/library/final-logo-trans-891.png" alt="Card image cap">
                   </center>
            </div>
            </div>



    </div>
</div>






    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../../partial/script %>

</body>

</html>
