<!DOCTYPE html>
<html lang="en">

<%- include partial/head %>

<body>

    <div id="wrapper">


            <%- include partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Events <small> Local</small>
                        </h1>
                    </div>
                </div>

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-calendar"></i> Events
                    </li>
                </ol>

                <%- include partial/extra %>

                <div class="row">

                            <!-- =============================================================================================================================== -->
                        <div class="col-md-4">

                                <div class="card" style="cursor: pointer;">
                                   <center>
                                        <img onclick="window.location.replace('https://www.eventbrite.co.uk/e/fashions-finest-africa-epic-show-tickets-53189408954?aff=ehomecard');" class="card-img-top img-fluid" src="stylesheets/images/events/1.jpeg" alt="Card image cap">
                                   </center>
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h4"><a href="https://www.eventbrite.co.uk/e/fashions-finest-africa-epic-show-tickets-53189408954?aff=ehomecard"><b>Fashions Finest Africa EPIC Show</b></a></h4>
                                    <h6 class="text-center"><b>Date:</b> Fri, May 24, 9:00am</h6>
                                    <h6 class="text-center"><b>Address:</b> Federal Palace Hotel & Casino, Lagos, LA</h6>
                                    <h6 class="text-center"><b>Status:</b> Free</h6>

                                    <br>
                                    </div>
                                </div>
                        </div>

                            <!-- =============================================================================================================================== -->
                            <div class="col-md-4">

                                    <div class="card" style="cursor: pointer;">
                                       <center>
                                            <img onclick="window.location.replace('https://www.eventbrite.com/e/africa-youth-and-talent-summit-2019-lagos-nigeria-tickets-48412132993?aff=ehomecard');" class="card-img-top img-fluid" src="stylesheets/images/events/2.jpeg" alt="Card image cap">
                                       </center>
                                        <div class="card-body" style="margin: 5px 5px;">
                                        <h4 class="card-title text-center h4"><a href="https://www.eventbrite.com/e/africa-youth-and-talent-summit-2019-lagos-nigeria-tickets-48412132993?aff=ehomecard"><b>AFRICA YOUTH AND TALENT SUMMIT 2019, LAGOS-NIGERIA
                                            </a></h4>
                                        <h6 class="text-center"><b>Date:</b> Sat, Jul 20, 8:00am</h6>
                                        <h6 class="text-center"><b>Address:</b> Muson Center, Victoria Island, Lagos</h6>
                                        <h6 class="text-center"><b>Status:</b> Free</h6>

                                        <br>
                                        </div>
                                    </div>
                            </div>

                            <!-- =============================================================================================================================== -->



                            <div class="col-md-4">

                                    <div class="card" style="cursor: pointer;">
                                       <center>
                                            <img onclick="window.location.replace('https://www.eventbrite.com/e/live-your-dreams-africa-70-its-showtime-tickets-58949718194?aff=ehomecard');" class="card-img-top img-fluid" src="stylesheets/images/events/3.jpeg" alt="Card image cap">
                                       </center>
                                        <div class="card-body" style="margin: 5px 5px;">
                                        <h4 class="card-title text-center h4"><a href="https://www.eventbrite.com/e/live-your-dreams-africa-70-its-showtime-tickets-58949718194?aff=ehomecard"><b>Live Your Dreams Africa 7.0 - It's Showtime
                                            </b></a></h4>
                                        <h6 class="text-center"><b>Date:</b> Sat, Jun 1, 9:00am</h6>
                                        <h6 class="text-center"><b>Address:</b> Glitz Event Centre, Lekki, Lagos</h6>
                                        <h6 class="text-center"><b>Status:</b> Free</h6>

                                        <br>
                                        </div>
                                    </div>
                            </div>

                            <!-- =============================================================================================================================== -->


                </div>

                <div class="row" style="margin-top: 20px;">

                        <!-- =============================================================================================================================== -->
                    <div class="col-md-4">

                            <div class="card" style="cursor: pointer;">
                               <center>
                                    <img onclick="window.location.replace('https://www.eventbrite.com/e/the-engineering-summit-africa-2019-tickets-59884693731?aff=ehomecard');" class="card-img-top img-fluid" src="stylesheets/images/events/4.jpeg" alt="Card image cap">
                               </center>
                                <div class="card-body" style="margin: 5px 5px;">
                                <h4 class="card-title text-center h4"><a href="https://www.eventbrite.com/e/the-engineering-summit-africa-2019-tickets-59884693731?aff=ehomecard"><b>THE ENGINEERING SUMMIT, AFRICA 2019</b></a></h4>
                                <h6 class="text-center"><b>Date:</b> Sat, Jun 15, 8:00am</h6>
                                <h6 class="text-center"><b>Address:</b> Main Auditorium, Lagos</h6>
                                <h6 class="text-center"><b>Status:</b> Free</h6>

                                <br>
                                </div>
                            </div>
                    </div>

                        <!-- =============================================================================================================================== -->
                        <div class="col-md-4">

                                <div class="card" style="cursor: pointer;">
                                   <center>
                                        <img onclick="window.location.replace('https://www.eventbrite.co.uk/e/the-peoples-catwalk-fashions-finest-africa-tickets-55766233305?aff=ehomecard');" class="card-img-top img-fluid" src="stylesheets/images/events/5.jpeg" alt="Card image cap">
                                   </center>
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h4"><a href="https://www.eventbrite.co.uk/e/the-peoples-catwalk-fashions-finest-africa-tickets-55766233305?aff=ehomecard"><b>The Peoples Catwalk - Fashions Finest Africa</b></a></h4>
                                    <h6 class="text-center"><b>Date:</b> Fri, May 24, 4:00pm</h6>
                                    <h6 class="text-center"><b>Address:</b> Federal Palace Hotel & Casino, Lagos, LA</h6>
                                    <h6 class="text-center"><b>Status:</b> Free</h6>

                                    <br>
                                    </div>
                                </div>
                        </div>

                        <!-- =============================================================================================================================== -->



                        <div class="col-md-4">

                                <div class="card" style="cursor: pointer;">
                                   <center>
                                        <img onclick="window.location.replace('https://www.eventbrite.com/e/goalfest-2019-tickets-33924460976?aff=ehomecard');" class="card-img-top img-fluid" src="stylesheets/images/events/6.jpeg" alt="Card image cap">
                                   </center>
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h4"><a href="https://www.eventbrite.com/e/goalfest-2019-tickets-33924460976?aff=ehomecard"><b>GoalFest 2019</b></a></h4>
                                    <h6 class="text-center"><b>Date:</b> Sat, Jun 1, 12:00pm</h6>
                                    <h6 class="text-center"><b>Address:</b>Federal Palace Hotel, Victoria Island, Lagos</h6>
                                    <h6 class="text-center"><b>Status:</b> Free</h6>

                                    <br>
                                    </div>
                                </div>
                        </div>

                        <!-- =============================================================================================================================== -->


            </div>

<div style="margin-top: 40px;"></div>

                <%- include partial/advert  %>




    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include partial/footer %>

    </div>
        </div>

    </div>




<%- include partial/script %>

</body>

</html>
