<!DOCTYPE html>
<html lang="en">

<%- include partial/head %>

<head>
        <script>
            $(document).ready(function(){
                setTimeout(function(){
                    $('#basicExampleModal123').modal('show');
                }, 200);
            });

       </script>
       </head>

<body>

    <div id="wrapper">


            <%- include partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small> Overview</small>
                        </h1>
                    </div>
                </div>

                <%- include partial/extra %>



                <div class="row">

                        <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid " src="stylesheets/images/hand.jpg" alt="Card image cap">
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Collaboration</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">We are always ready to work with you, you are our number one priority, we care for you.</p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="stylesheets/images/5.jpg"  alt="Card image cap">
                                    <div class="card-body" style="margin: 5px 5px;">
                                        <h4 class="card-title text-center h3"><a>Recommendation</a></h4>
                                        <p class="card-text text-center" style="font-size: 15px;">We move everywhere to create a sophisticated and exceptional relationship with outstanding tools, which makes us the best.</p> <br>
                                        <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="stylesheets/images/1.jpg"  alt="Card image cap">
                                <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Determination</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">We excel in all criteria related to any form of technology, we are deterministic in nature</p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                            </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="stylesheets/images/2.jpg"  alt="Card image cap">
                            <div class="card-body" style="margin: 5px 5px;">
                                <h4 class="card-title text-center h3"><a>Efficiency</a></h4>
                                <p class="card-text text-center" style="font-size: 15px;">Highly exceptional and extraordinary everyday, accuracy and effectiveness being our watchword makes us stand out </p> <br>
                                <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                </div>
                        </div>
                </div>

                <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="stylesheets/images/4.jpg"  alt="Card image cap">
                            <div class="card-body" style="margin: 5px 5px;">
                                <h4 class="card-title text-center h3"><a>Togetherness</a></h4>
                                <p class="card-text text-center" style="font-size: 15px;">We are undefeatable, together we create a new world, we believe in team work. Our bonds are unbreakable </p> <br>
                                <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                </div>
                        </div>
                </div>

                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="stylesheets/images/10.jpg"  alt="Card image cap">
                                <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Innovation</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">We find a way than to fade away, we develop ideas and build on them to rule the world, beating the best becomes our passion. </p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                            </div>
                    </div>
                </div>

                <%- include partial/advert  %>
                <div class="row" style="margin: 40px 0px;">
                    <div class="col-md-12">

                        <h1 class="h3-responsive red-text text-center">See Latest Updates and Posts</h1>

                        <table class="table text-center white table-hover" style="border-radius: 10px;" data-wow-duration="3s">
                            <tbody class="">
                                  <!-- ================================ recent news here ====================================== -->
                                  <tr>
                                    <td class="h5" onclick="window.location.replace('/test260219')" style="width: 70%; cursor: pointer;"><a>See Functional Programming CSC322 Test Questions and Answers Here</a> <h6 class="small text-muted"> posted 26/02/2019 04:30:46 PM</h6> </td>
                                  </tr>
                              <tr>
                                  <td class="h5" onclick="window.location.replace('https://drive.google.com/open?id=1aHuu6jz5eL3ftIl9RVROfp4N1F3T4Crc')" style="width: 70%; cursor: pointer;">Download MAT332 Numerical Analysis PDF Material here ... <h6 class="small text-muted"> posted 12/02/2019 11:02:56 PM</h6></td>
                              </tr>
                            </tbody>
                          </table>

                    </div>
                </div>




    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include partial/footer %>

    </div>
        </div>

    </div>

    <div class="modal fade" id="basicExampleModal123" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-bold h3 mx-auto" id="exampleModalLabel">NOTICE BOARD</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class  ="notice container">
                            <h3 id="text" class="white-text h2-responsive"></h3>
                    </div>
                </div>

              </div>
            </div>
          </div>


</body>

<%- include partial/script %>

<script>
        document.addEventListener('DOMContentLoaded', function (event) {

            var dataText = [
                "Samdos is Recruiting Web Developers, Good Teacher accross all Departments who has the capability of Teaching Private and Public Classes in Their Tertiary Institutions. Send Email to sheygun@aol.com or follow DASHBOARD >> PROFILE >> MESSAGE US and send us message now ",
                "Do you want to Become an Ambassador for Samdos in your department, why not send us message now and be among the successful Ambassadors. Send Email to sheygun@aol.com Now or follow DASHBOARD >> PROFILE >> MESSAGE US and send us message now",
                "Be among The first 20 people to get Space in our e-Multi Purpose Market by Contacting Us."
            ];
            function typeWriter(text, i, fnCallback) {
                if (i < (text.length)) {
                    document.getElementById("text").innerHTML = text.substring(0, i + 1) +
                        '<span aria-hidden="true" class="banner_text_w3ls"></span>';
                    setTimeout(function () {
                        typeWriter(text, i + 1, fnCallback)
                    }, 150);
                }
                else if (typeof fnCallback == 'function') {
                    setTimeout(fnCallback, 1000);
                }
            }
            function StartTextAnimation(i) {
                if (i < dataText[i].length) {
                    typeWriter(dataText[i], 0, function () {
                        StartTextAnimation(i + 1);
                    });
                }
            }
            StartTextAnimation(0);
        });
    </script>

</html>
