<!DOCTYPE html>
<html lang="en">

<%- include partial/head %>

<head>
        <script>
            $(document).ready(function(){
                setTimeout(function(){
                    $('#basicExampleModal123').modal('show');
                }, 10000);
            });


       </script>
</head>

<body>
    <div id="wrapper">
            <%- include partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header text-center font-weight-bold p-5 h3-responsive wow zoomIn" style="color: rgb(234, 28, 80);" data-wow-delay="0.5s" data-wow-duration="4s" data-wow-iteration="1">
                            WELCOME HOME, OUR SPECIAL QUEST!
                        </h1>
                    </div>
                </div> -->

                <div>
                    <h1 class="h1-responsive text-center font-weight-bold p-5">WHAT WE DO</h1>
                </div>
                <div class="row">

                        <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="card-img-top img-fluid " src="stylesheets/images/hand.jpg" alt="Card image cap">
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Collaboration</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">We are always ready to work with you, you are our number one priority, we care for you.</p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-4 my-3">
                                <div class="card">
                                        <img class="card-img-top img-fluid" src="stylesheets/images/about1.jpg"  alt="Card image cap">
                                        <div class="card-body" style="margin: 5px 5px;">
                                            <h4 class="card-title text-center h3"><a>e-Market System</a></h4>
                                            <p class="card-text text-center" style="font-size: 15px;">We extend our Market System across the world. We develop world recommended e-Multi-purpose Market where buying and selling becomes the easiest things to do. </p> <br>
                                            <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                            </div>

                                </div>
                        </div>

                        <div class="col-md-4 my-3">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="stylesheets/images/bl2.jpg"  alt="Card image cap">
                                <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Workshop</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">Where you meets professionals accross all field to Teach, Mentor, Direct and put you Through. We develop Leaders all over the world.</p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                            </div>
                    </div>
                </div>

                <div class="row my-5">

                    <div class="col-md-4">
                        <div class="card">
                                <img class="card-img-top img-fluid" src="stylesheets/images/b1.jpg"  alt="Card image cap">
                                <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>e-Library</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">Being the best of it type, we create a world where everybody develops reading ability and culture to enhance academic literacy. Our Special Guests can also access All-in-One Newspaper, Poems, Stories, Novels and the likes. </p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                        </div>
                </div>

                <div class="col-md-4">
                        <div class="card">
                                <img class="card-img-top img-fluid" src="stylesheets/images/slide.jpg"  alt="Card image cap">
                                <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Event Center</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">We provide recent and valid events in Town, for you to develop your mentality and to Meet new Friends across the world</p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>

                        </div>
                </div>

                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="stylesheets/images/ab2.jpg"  alt="Card image cap">
                                <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h3"><a>Saintly Scholars</a></h4>
                                    <p class="card-text text-center" style="font-size: 15px;">We develop internal and external relationship among incoming and outgoing Students. We provide necessary materials across all Levels and Departments in their various Tertiary Institutions </p> <br>
                                    <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                    </div>
                            </div>
                    </div>
                </div>

                  <div>
                    <h1 class="h1-responsive text-center font-weight-bold p-5">WHAT WE POSSESS</h1>
                </div>
                <div class="row my-5">

                        <div class="col-md-4">
                            <div class="card">
                                    <img class="card-img-top img-fluid" src="stylesheets/images/2.jpg"  alt="Card image cap">
                                    <div class="card-body" style="margin: 5px 5px;">
                                        <h4 class="card-title text-center h3"><a>Efficiency</a></h4>
                                        <p class="card-text text-center" style="font-size: 15px;">We are highly exceptional and extraordinary everyday. Accuracy and Effectiveness being our watchword makes us stand out </p> <br>
                                        <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                        </div>
                            </div>
                    </div>

                    <div class="col-md-4">
                            <div class="card">
                                    <img class="card-img-top img-fluid" src="stylesheets/images/5.jpg"  alt="Card image cap">
                                    <div class="card-body" style="margin: 5px 5px;">
                                        <h4 class="card-title text-center h3"><a>Recommendation</a></h4>
                                        <p class="card-text text-center" style="font-size: 15px;">We move everywhere to create a sophisticated and exceptional relationship with outstanding tools, which makes us the best.</p> <br>
                                        <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                        </div>
                            </div>
                    </div>

                            <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top img-fluid" src="stylesheets/images/4.jpg"  alt="Card image cap">
                                        <div class="card-body" style="margin: 5px 5px;">
                                            <h4 class="card-title text-center h3"><a>Togetherness</a></h4>
                                            <p class="card-text text-center" style="font-size: 15px;">We are undefeatable, together we create a new world, we believe in team work. Our bonds are unbreakable </p> <br>
                                            <!-- <a href="#" class="btn btn-primary">Button</a> -->
                                            </div>
                                </div>
                        </div>
                    </div>
                <%- include partial/advert  %>





    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include partial/footer %>

    </div>
        </div>

    </div>

    <div class="modal fade" id="basicExampleModal123" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-bold h3 mx-auto" id="exampleModalLabel">NOTICE BOARD</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class  ="notice container">
                            <h3 id="text" class="white-text h5-responsive font-weight-bold"></h3>
                    </div>
                </div>

              </div>
            </div>
          </div>


</body>

<%- include partial/script %>


</html>
