<!DOCTYPE html>
<html lang="en">

<%- include partial/head %>

<body>

    <div id="wrapper">


            <%- include partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Scholarships <small> Local</small>
                        </h1>
                    </div>
                </div>

                <ol class="breadcrumb">
                  <li>
                      <i class="fa fa-home"></i>  <a href="/">Home</a>
                  </li>
                  <li class="active">
                      <i class="fa fa-money"></i> Scholarship
                  </li>
              </ol>

                <%- include partial/extra %>

                <div class="row">

                            <!-- =============================================================================================================================== -->
                        <div class="col-md-4 mb-5">

                                <div class="card" style="cursor: pointer;">
                                   <center> <br>
                                        <img data-toggle="modal" data-target="#basicExampleModal" style="height: 150px; width: 150px;" class="card-img-top" src="stylesheets/images/scholarship/1.png" alt="Card image cap">
                                   </center>
                                    <div class="card-body m-2">
                                    <h4 class="card-title text-center h4"><a data-toggle="modal" data-target="#basicExampleModal"><b>PZ Cussons Chemistry Scholarships For Nigerian Students 2019</b></a></h4>
                                    <h6 class="text-center">Application Deadline: 16th May 2019</h6>
                                    <h6 class="text-center">Eligible Countries: Nigeria</h6>
                                    <h6 class="text-center">Type: Secondary School Scholarship</h6>


                                          <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h3 class="modal-title" id="exampleModalLabel"><b>PZ Cussons Chemistry Scholarships For Nigerian Students 2019</b></h3>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <p>
                                                        The PZ Cussons Chemistry Challenge (PZCCC), an initiative of the PZ Cussons foundation, is aimed at improving the learning culture of Chemistry in Secondary Schools in Nigeria.
                                                  </p>
                                                  <p>This scholarship program is designed to:
                                                        <ol>
                                                            <li>to continue to make PZ Cussons Chemistry Challenge the No. 1 platform for supporting the learning of Chemistry in Schools.</li>
                                                            <li>To promote the girl child education within Nigeria.</li>
                                                            <li>Recruiting new schools to the initiative</li>
                                                            <li>Deepen brand awareness and association for Premier</li>
                                                        </ol>
                                                    </p>
                                                    <h2>1st Prize</h2>
                                                    <h5>Student: ₦1,000,000</h5>
                                                    <h5>Teacher: ₦250,000</h5>
                                                    <h5>School: Desktop and Lab Equipment</h5> <br>

                                                    <h2>2nd Prize</h2>
                                                    <h5>Student: ₦750,000</h5>
                                                    <h5>Teacher: ₦150,000</h5>
                                                    <h5>School: Desktop and Lab Equipment</h5> <br>

                                                    <h2>3rd Prize</h2>
                                                    <h5>Student: ₦500,000</h5>
                                                    <h5>Teacher: ₦100,000</h5>
                                                    <h5>School: Desktop and Lab Equipment</h5> <br>

                                                    <p>Eligibility:</p>
                                                        <ul>
                                                            <li>Applicants must be SS2 chemistry students in Nigerian Schools.</li>
                                                            <li>Applicants have to be schooling within Nigeria.</li>
                                                            <li>Applicants are to be sponsored by their Secondary School and/or Parent.</li>
                                                            <li>Entries are open to both Private and Public Secondary Schools.</li>
                                                        </ul>
                                                    <p><a href="https://pzcussonscc.com/">Start Registration Now</a></p>
                                                </div>

                                              </div>
                                            </div>
                                          </div>


                                    </div>
                                </div>
                        </div>

                            <!-- =============================================================================================================================== -->
                             <div class="col-md-4 mb-5">

                                <div class="card" style="cursor: pointer;">
                                   <center> <br>
                                        <img data-toggle="modal" data-target="#basicExampleModal2" style="height: 150px; width: 150px;" class="card-img-top" src="stylesheets/images/scholarship/3.jpeg" alt="Card image cap">
                                   </center>
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h4"><a data-toggle="modal" data-target="#basicExampleModal2"><b>2019 Nigerian AGIP Oil Company Scholarships For Nigerians</b></a></h4>
                                    <h6 class="text-center">Application Deadline: 1st June 2019</h6>
                                    <h6 class="text-center">Eligible Countries: Nigeria</h6>
                                    <h6 class="text-center">Type: Postgraduate</h6>
                                    <h6 class="text-center">Nigerian & Overseas Tertiary Institutions</h6>


                                          <div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h3 class="modal-title" id="exampleModalLabel"><b>2019 Nigerian AGIP Oil Company Scholarships For Nigerians</b></h3>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <p>
                                                        The Nigerian Agip Oil Company Limited (NAOC) Joint Venture in pursuance of its Corporate Social Responsibility invites suitably qualified applicants for its 2019/2020 Session Tertiary Scholarship Scheme.
                                                  </p>

                                                  <p>Eligible Field of Study:</p>
                                                        <ul>
                                                            <li>Geosciences</li>
                                                            <li>Petroleum Economics</li>
                                                            <li>Engineering (Petroleum, Mechanical, Civil, Subsea, Electrical/Electronics, Marine, Chemical)</li>
                                                            <li> Law (Oil and Gas/Petroleum)</li>
                                                        </ul> <br>
                                                    <p>Eligibility:</p>
                                                        <ul>
                                                            <li>Possess a minimum of Second Class Upper division in any of the relevant disciplines from a recognized Nigerian university.</li>
                                                            <li>Have secured admission into a Nigerian or Overseas university for a one year Master’s Degree programme in any of the disciplines listed below.</li>
                                                            <li>Not be above 28 years of age by December 31st, 2019.</li>
                                                            <li>Have completed the one year National Youth Service Corps (NYSC) programme.</li>
                                                        </ul> <br>
                                                    <p>Application Process and Requirements:</p>
                                                        <ul>
                                                                <li>Passport photograph (450 × 450 pixel) with white background not more than 3 months old</li>
                                                               <li> Provisional admission letter for post graduate studies 2019/2020 session into any reputable university – Local/Overseas. This admission letter must be for the course stated on the candidate’s application.</li>
                                                               <li> First Degree Certificate</li>
                                                               <li> NYSC Discharge Certificate</li>
                                                                <li>Valid ID card (Driver's license, Voter's card, National Identity card)</li>
                                                                <li>Valid International Passport Data Page for Overseas category only (Valid for travel at least one year from September 2019)</li>
                                                                <li>Birth Certificate from Local government</li>
                                                               <li> Current Curriculum Vitae</li>
                                                                <li>NAE Compliance Declaration Form</li>
                                                        </ul>
                                                    <p>Note: All candidates are required to fill and sign the NAE compliance declaration form. To download the NAE compliance declaration, click <a href="http://www.dragnetnigeria.com/files/compliance_form.pdf">http://www.dragnetnigeria.com/files/compliance_form.pdf</a>. Label the scanned documents accordingly, to avoid mix up during upload.
                                                        Attach the right documents in the appropriate upload section. </p>
                                                    <p><a href="https://scholastica.ng/candidate/login?ReturnUrl=%2fschemes%2fapply%2f5077">Start Registration Now</a></p>
                                                </div>

                                              </div>
                                            </div>
                                          </div>

                                    <br>
                                    </div>
                                </div>
                        </div>

                            <!-- =============================================================================================================================== -->



                        <div class="col-md-4 mb-5">

                                <div class="card" style="cursor: pointer;">
                                   <center> <br>
                                        <img data-toggle="modal" data-target="#basicExampleModal3" style="height: 150px; width: 250px;" class="card-img-top" src="stylesheets/images/scholarship/2.jpeg" alt="Card image cap">
                                   </center>
                                    <div class="card-body" style="margin: 5px 5px;">
                                    <h4 class="card-title text-center h4"><a data-toggle="modal" data-target="#basicExampleModal3"><b>2019 NNPC/Total National Merit Scholarship Scheme For Nigerians</b></a></h4>
                                    <h6 class="text-center">Application Deadline: 31st October 2018</h6>
                                    <h6 class="text-center">Eligible Countries: Nigeria</h6>
                                    <h6 class="text-center">Type: Undergraduate</h6>


                                          <div class="modal fade" id="basicExampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h3 class="modal-title" id="exampleModalLabel"><b>2019 NNPC/Total National Merit Scholarship Scheme For Nigerians</b></h3>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <p>
                                                        Nigerian National Petroleum Corporation (NNPC), and Total Upstream Companies in Nigeria (TUCN): Total Exploration & Production Nigeria Limited
                                                         (Total E&P Nig Ltd) and Total Upstream Nigeria Limited (TUPNI) are offering the 2019 NNPC/TOTAL National Merit Scholarship programme to Nigerian
                                                         Undergraduates who are looking to pursue a degree program at any Nigerian Institution. This Scholarship scheme is aimed at promoting academic excellence and quality manpower development in the Country.
                                                         </p> <br>


                                                    <p>Eligibility:</p>
                                                        <ul>
                                                                <li>Applicants must be a Registered FULL TIME undergraduate in a recognized Nigerian University.</li>
                                                                <li>Applicants must be a certified 100 or 200 level student at the time of application.</li>
                                                                <li>Applicants must have a 2.50 CGPA of 5-point scale, or equivalent.</li>
                                                                <li>Applicants must have more than 200 score in UTME</li>

                                                        </ul> <br>
                                                    <p>Application Process and Requirements:</p>
                                                        <ul>
                                                            <li>Recent Passport Photograph</li>
                                                            <li>Certificate or Proof of Origin</li>
                                                            <li>Senior Secondary Certificate of Education (SSCE)</li>
                                                           <li> UTME result</li>
                                                            <li>JAMB/University Admission Letter</li>
                                                            <li>1st Year Result showing CGPA</li>
                                                                                                                    </ul>

                                                    <p><a href="https://scholarships.totalcsredu.com/scholarship-application-form/">Start Registration Now</a></p>
                                                </div>

                                              </div>
                                            </div>
                                          </div>

                                    <br>
                                    </div>
                                </div>
                        </div>

                            <!-- =============================================================================================================================== -->
                </div>


<div style="margin-top: 40px;"></div>

                <%- include partial/advert  %>




    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include partial/footer %>

    </div>
        </div>

    </div>




<%- include partial/script %>

</body>

</html>
