<!DOCTYPE html>
<html lang="en">

<%- include ../../../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../../../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Past Questions for Botany 300 Level Students
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-image"></i> Past Questions
                </li>
            </ol>

            <%- include ../../../partial/advert  %>

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  <strong>Need a Free Website?</strong> <a href="http://www.samdos.herokuapp.com" class="alert-link"> CLICK HERE NOW</a>
                    </div>
                </div>
            </div>


                <div>
                  <h3 class="text-center">Uploaded By Ambassador<b> Olabayo Segun Emmanuel</b> - from Computer Science department, 2015/2016 Session</h3>
                </div>

            <div class="containezr">
                <iframe src="https://drive.google.com/file/d/1ZoUxKBTDtXDS14e3P709OM0bdMnX5VRb/preview" class="document"></iframe>
            </div>

            <%- include ../../../partial/advert  %>

    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../../../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../../../partial/script %>

</body>

</html>
