<!DOCTYPE html>
<html lang="en">
<%- include ../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Advertise with us
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-globe"></i> Advertise with us
                </li>
            </ol>
            <%- include ../partial/extra %>

            <div class="h5 my_p" style="text-align: justify;">
                <p>Advertising your business on our website is an inexpensive way to get your advertisement seen by a targeted market. Advertising is by far and away the fastest and most scalable right away.
                    the basic concept is that the broader you make your advertising, the more traffic you will get.
                </p>
                <p>
                    Banner ads have been around since the dawn of internet time. They are everywhere both on the Web and Within platforms. Your ads goes a long way than any other means.
                </p>
                <p>
                    We appreciate you for your interest in advertising your business with us here at SAMDOS. <br> Thank You.
                </p>
                <br>
                <p>
                    You can place your ads banner on this platform by <a href="/message"><b>Clicking Here</b></a> and sending us a message indicating that you want to place an ad. You will be contacted through your
                    Email or Phone Number for Negotiation.
                </p>
                <center>
                    <h2>Requirements</h2>
                </center>
                <ul class="list-group">
                    <li class="list-group-item">Get your ad banner well designed by a good graphic designer </li>
                    <li class="list-group-item">Your ad banner must be less than 50kb in jpg, png or jpeg format</li>
                    <li class="list-group-item">Your ad must not have a solidated borders </li>
                    <li class="list-group-item">Your ad must be in 350 pixels wide and 120 pixels tall</li>
                  </ul>
                  <p>
                      Once all requirements are meet, you will be contacted by our customer care on how to purchase your advertising credits
                  </p>
                  <center>
                      <h2>Advertising Rate Estimations (ARE)</h2>
                  </center>

                 <div class="container">
                    <table class="table">
                        <thead>
                          <tr>
                            <th class="h4">S/N</th>
                            <th class="h4">Location</th>
                            <th class="h4">Old Price</th>
                            <th class="h4">New Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h4">1</td>
                            <td class="h4">Home page</td>
                            <td class="h4"><del>₦15,500/week</del> <br> <del>₦45,600/month</del></td>
                            <td class="h4"><span>₦11,500/week</span> <br> <span>₦42,350/month</span> </td>
                          </tr>
                          <tr class="">
                            <td class="h4">2</td>
                            <td class="h4">Reflect in All Pages</td>
                            <td class="h4"><del>₦20,500/week</del> <br> <del>₦61,250/month</del></td>
                            <td class="h4"><span>₦15,750/week</span> <br> <span>₦55,650/month</span> </td>
                          </tr>
                        </tbody>
                      </table>
                      <p class="red-text text-center">We accept payments of at least ₦10,000</p>
                 </div>

                 <p>We look forward to doing business with you <br> Best Regards, <br> Olabayo Segun Emmanuel.</p>
            </div>






    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../partial/script %>

</body>

</html>
