<!DOCTYPE html>
<html lang="en">
<%- include ../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        Available Materials and Their Ambassadors
                    </h3>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="/">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-book"></i> Lagos State University
                </li>
            </ol>



            <%- include ../partial/extra %>

            <div class="">
                    <h4 class="red-text text-center">General Studies</h4>
                    <div class="container table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th class="h5 font-weight-bold">S/N</th>
                                <th class="h5 font-weight-bold">Ambassadors</th>
                                <th class="h5 font-weight-bold">Level</th>
                                <th class="h5 font-weight-bold">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="">
                                <td class="h6">1</td>
                                <td class="h6">Olabayo Segun Emmanuel, 2015/2016 Session</td>
                                <td class="h6">100</td>
                                <td class="h6">Available</td>
                              </tr>
                              <tr class="">
                                <td class="h6">2</td>
                                <td class="h6">Edu Ayomide Omowunmi, 2015/2016 Session</td>
                                <td class="h6">200</td>
                                <td class="h6">Available</td>
                              </tr>
                              <tr class="">
                                    <td class="h6">3</td>
                                    <td class="h6">Olabayo Segun Emmanuel, 2015/2016 Session</td>
                                    <td class="h6">300</td>
                                    <td class="h6">Available</td>
                                  </tr>
                            </tbody>
                          </table>
                </div>

                <h4 class="red-text text-center">Faculty of Science</h4>
                <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h5 font-weight-bold">S/N</th>
                            <th class="h5 font-weight-bold">Departments</th>
                            <th class="h5 font-weight-bold">Ambassadors</th>
                            <th class="h5 font-weight-bold">Levels</th>
                            <th class="h5 font-weight-bold">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h6">1</td>
                            <td class="h6">Computer Science</td>
                            <td class="h6">Olabayo Segun Emmanuel, 2015/2016 Session</td>
                            <td class="h6">100, 200, 300</td>
                            <td class="h6">Available</td>
                          </tr>
                          <tr class="">
                            <td class="h6">2</td>
                            <td class="h6">Botany</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                          </tr>
                          <tr class="">
                                <td class="h6">3</td>
                                <td class="h6">Mathematics</td>
                                <td class="h6">----</td>
                                <td class="h6">----</td>
                                <td class="h6">----</td>
                              </tr>
                              <tr class="">
                                    <td class="h6">4</td>
                                    <td class="h6">Biochemistry</td>
                                    <td class="h6">----</td>
                                    <td class="h6">----</td>
                                    <td class="h6">----</td>
                                  </tr>
                                  <tr class="">
                                        <td class="h6">5</td>
                                        <td class="h6">Microbiology</td>
                                        <td class="h6">----</td>
                                        <td class="h6">----</td>
                                        <td class="h6">----</td>
                                      </tr>
                                      <tr class="">
                                            <td class="h6">6</td>
                                            <td class="h6">Fishery</td>
                                            <td class="h6">----</td>
                                            <td class="h6">----</td>
                                            <td class="h6">----</td>
                                          </tr>
                                          <tr class="">
                                                <td class="h6">7</td>
                                                <td class="h6">Zoology</td>
                                                <td class="h6">----</td>
                                                <td class="h6">----</td>
                                                <td class="h6">----</td>
                                              </tr>
                                              <tr class="">
                                                    <td class="h6">8</td>
                                                    <td class="h6">Chemistry</td>
                                                    <td class="h6">----</td>
                                                    <td class="h6">----</td>
                                                    <td class="h6">----</td>
                                                  </tr>
                                                  <tr class="">
                                                        <td class="h6">9</td>
                                                        <td class="h6">Physics</td>
                                                        <td class="h6">----</td>
                                                        <td class="h6">----</td>
                                                        <td class="h6">----</td>
                                                      </tr>
                        </tbody>
                      </table>
            </div>

            <!-- //////////////////////////////////////////////////// art //////////////////////////// -->

            <h4 class="red-text text-center">Faculty of Art</h4>
                <div class="container table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="h5 font-weight-bold">S/N</th>
                            <th class="h5 font-weight-bold">Departments</th>
                            <th class="h5 font-weight-bold">Ambassadors</th>
                            <th class="h5 font-weight-bold">Levels</th>
                            <th class="h5 font-weight-bold">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="h6">1</td>
                            <td class="h6">History and Religion</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                          </tr>
                          <tr class="">
                            <td class="h6">2</td>
                            <td class="h6">English</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                          </tr>
                          <tr class="">
                                <td class="h6">3</td>
                                <td class="h6">Religion</td>
                                <td class="h6">----</td>
                                <td class="h6">----</td>
                                <td class="h6">----</td>
                              </tr>
                              <tr class="">
                                    <td class="h6">4</td>
                                    <td class="h6">Foreign Language</td>
                                    <td class="h6">----</td>
                                    <td class="h6">----</td>
                                    <td class="h6">----</td>
                                  </tr>
                                  <tr class="">
                                        <td class="h6">5</td>
                                        <td class="h6">African Language</td>
                                        <td class="h6">----</td>
                                        <td class="h6">----</td>
                                        <td class="h6">----</td>
                                      </tr>
                                      <tr class="">
                                            <td class="h6">6</td>
                                            <td class="h6">Theatre Art</td>
                                            <td class="h6">----</td>
                                            <td class="h6">----</td>
                                            <td class="h6">----</td>
                                          </tr>

                        </tbody>
                      </table>
            </div>

            <!-- /////////////////////////////// education ////////////////////////////////// -->
            <h4 class="red-text text-center">Faculty of Education</h4>
            <div class="container table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th class="h5 font-weight-bold">S/N</th>
                        <th class="h5 font-weight-bold">Departments</th>
                        <th class="h5 font-weight-bold">Ambassadors</th>
                        <th class="h5 font-weight-bold">Levels</th>
                        <th class="h5 font-weight-bold">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="">
                        <td class="h6">1</td>
                        <td class="h6">Education Mgt</td>
                        <td class="h6">----</td>
                        <td class="h6">----</td>
                        <td class="h6">----</td>
                      </tr>
                      <tr class="">
                        <td class="h6">2</td>
                        <td class="h6">Science & Tech Edu</td>
                        <td class="h6">----</td>
                        <td class="h6">----</td>
                        <td class="h6">----</td>
                      </tr>
                      <tr class="">
                            <td class="h6">3</td>
                            <td class="h6">Language Art & S.S Edu</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                          </tr>
                          <tr class="">
                                <td class="h6">4</td>
                                <td class="h6">P.H.E</td>
                                <td class="h6">----</td>
                                <td class="h6">----</td>
                                <td class="h6">----</td>
                              </tr>
                              <tr class="">
                                    <td class="h6">5</td>
                                    <td class="h6">Edu F&S Psychology</td>
                                    <td class="h6">----</td>
                                    <td class="h6">----</td>
                                    <td class="h6">----</td>
                              </tr>

                    </tbody>
                  </table>
        </div>

         <!-- /////////////////////////////// law ////////////////////////////////// -->
         <h4 class="red-text text-center">Faculty of Law</h4>
         <div class="container table-responsive">
             <table class="table table-bordered table-hover">
                 <thead>
                   <tr>
                     <th class="h5 font-weight-bold">S/N</th>
                     <th class="h5 font-weight-bold">Departments</th>
                     <th class="h5 font-weight-bold">Ambassadors</th>
                     <th class="h5 font-weight-bold">Levels</th>
                     <th class="h5 font-weight-bold">Status</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr class="">
                     <td class="h6">1</td>
                     <td class="h6">Islamic Law</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                   </tr>
                   <tr class="">
                     <td class="h6">2</td>
                     <td class="h6">Private & Property Law</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                   </tr>
                   <tr class="">
                         <td class="h6">3</td>
                         <td class="h6">Business Law</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                       </tr>
                       <tr class="">
                             <td class="h6">4</td>
                             <td class="h6">Jurisprudence and Int. Law</td>
                             <td class="h6">----</td>
                             <td class="h6">----</td>
                             <td class="h6">----</td>
                           </tr>
                           <tr class="">
                                 <td class="h6">5</td>
                                 <td class="h6">Public Law</td>
                                 <td class="h6">----</td>
                                 <td class="h6">----</td>
                                 <td class="h6">----</td>
                           </tr>

                 </tbody>
               </table>
     </div>

     <!-- /////////////////////////////// fms ////////////////////////////////// -->
     <h4 class="red-text text-center">Faculty of Management Science</h4>
     <div class="container table-responsive">
         <table class="table table-bordered table-hover">
             <thead>
               <tr>
                 <th class="h5 font-weight-bold">S/N</th>
                 <th class="h5 font-weight-bold">Departments</th>
                 <th class="h5 font-weight-bold">Ambassadors</th>
                 <th class="h5 font-weight-bold">Levels</th>
                 <th class="h5 font-weight-bold">Status</th>
               </tr>
             </thead>
             <tbody>
               <tr class="">
                 <td class="h6">1</td>
                 <td class="h6">Accounting & Finance</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
               </tr>
               <tr class="">
                 <td class="h6">2</td>
                 <td class="h6">Business Admin & Mgt Tech</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
               </tr>
               <tr class="">
                     <td class="h6">3</td>
                     <td class="h6">Business Law</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                   </tr>
                   <tr class="">
                         <td class="h6">4</td>
                         <td class="h6">Industial R. & Pub. Admin</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                       </tr>
             </tbody>
           </table>
 </div>


     <!-- /////////////////////////////// fss ////////////////////////////////// -->
     <h4 class="red-text text-center">Faculty of Social Science</h4>
     <div class="container table-responsive">
         <table class="table table-bordered table-hover">
             <thead>
               <tr>
                 <th class="h5 font-weight-bold">S/N</th>
                 <th class="h5 font-weight-bold">Departments</th>
                 <th class="h5 font-weight-bold">Ambassadors</th>
                 <th class="h5 font-weight-bold">Levels</th>
                 <th class="h5 font-weight-bold">Status</th>
               </tr>
             </thead>
             <tbody>
               <tr class="">
                 <td class="h6">1</td>
                 <td class="h6">Economics</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
               </tr>
               <tr class="">
                 <td class="h6">2</td>
                 <td class="h6">Geography & Planning</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
               </tr>
               <tr class="">
                     <td class="h6">3</td>
                     <td class="h6">Political Science</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                   </tr>
                   <tr class="">
                         <td class="h6">4</td>
                         <td class="h6">Sociology</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                       </tr>
                       <tr class="">
                            <td class="h6">5</td>
                            <td class="h6">Psychology</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                          </tr>
             </tbody>
           </table>
 </div>

     <!-- /////////////////////////////// masscom ////////////////////////////////// -->
     <h4 class="red-text text-center">Faculty of Social Science</h4>
     <div class="container table-responsive">
         <table class="table table-bordered table-hover">
             <thead>
               <tr>
                 <th class="h5 font-weight-bold">S/N</th>
                 <th class="h5 font-weight-bold">Departments</th>
                 <th class="h5 font-weight-bold">Ambassadors</th>
                 <th class="h5 font-weight-bold">Levels</th>
                 <th class="h5 font-weight-bold">Status</th>
               </tr>
             </thead>
             <tbody>
               <tr class="">
                 <td class="h6">1</td>
                 <td class="h6">Public Relation & Advert</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
               </tr>
               <tr class="">
                 <td class="h6">2</td>
                 <td class="h6">Journalism</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
                 <td class="h6">----</td>
               </tr>
               <tr class="">
                     <td class="h6">3</td>
                     <td class="h6">Radio & Television Broadcast</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                     <td class="h6">----</td>
                   </tr>
                   <tr class="">
                         <td class="h6">4</td>
                         <td class="h6">Photo-Journalism & Cinematography</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                         <td class="h6">----</td>
                       </tr>
                       <tr class="">
                            <td class="h6">5</td>
                            <td class="h6">Communication Technology</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                            <td class="h6">----</td>
                          </tr>
             </tbody>
           </table>
 </div>

   <!-- /////////////////////////////// masscom ////////////////////////////////// -->
   <h4 class="red-text text-center">Faculty of Transport</h4>
   <div class="container table-responsive">
       <table class="table table-bordered table-hover">
           <thead>
             <tr>
               <th class="h5 font-weight-bold">S/N</th>
               <th class="h5 font-weight-bold">Departments</th>
               <th class="h5 font-weight-bold">Ambassadors</th>
               <th class="h5 font-weight-bold">Levels</th>
               <th class="h5 font-weight-bold">Status</th>
             </tr>
           </thead>
           <tbody>
             <tr class="">
               <td class="h6">1</td>
               <td class="h6">Transport Mgt & Operation</td>
               <td class="h6">----</td>
               <td class="h6">----</td>
               <td class="h6">----</td>
             </tr>
             <tr class="">
               <td class="h6">2</td>
               <td class="h6">Transport Planning & Policy</td>
               <td class="h6">----</td>
               <td class="h6">----</td>
               <td class="h6">----</td>
             </tr>
             <tr class="">
                   <td class="h6">3</td>
                   <td class="h6">Transport Tech & Infrastructure</td>
                   <td class="h6">----</td>
                   <td class="h6">----</td>
                   <td class="h6">----</td>
                 </tr>
           </tbody>
         </table>
</div>
<h6 class="red-text text-center">Other faculties are excluded temporarily</h6>
    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../partial/script %>

</body>

</html>
