<!DOCTYPE html>
<html lang="en">
<%- include ../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Contact Us
                    </h1>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-phone-square"></i> Contact
                </li>
            </ol>



            <%- include ../partial/extra %>


                  <div class="row ">
                      <div class="col-md-7">
                          <div class="row about-border" >
                            <div class="col-md-12 black-text text-center" style="font-size: 24px;">
                                <strong>ABOUT THE EXECUTIVE</strong>
                            </div>
                              <div class="col-md-12">
                                  <p align="justify" class="h5 my_p">Olabayo Segun Emmanuel nicknamed Hon. Sheygun is the Assitant Chief Executive Officer of <strong>SAMDOS EXPRESS</strong>. A Professional in Web Development and a profounded UI/UX designer. He is also a Database Administrator, Project Manager and a Graphic Designer.</p>
                              </div>
                              <div class="col-md-12">
                                  <p align="justify"  class="h5 my_p">He is a promising graduate of Lagos State University (LASU). He is a young entrepreneur whose aim is to provide solutions to any technical problems. He also has practical corporate experience of about three years in the computer Vision and in the Business World.<br>
                                  His major research interest areas are Web and Software Developments. He is from the family of six and presently with Joy.</p>
                              </div>
                          </div> <br>
                      </div>

                      <div class="col-md-5">
                          <div class="row">
                              <div class="col-md-12 black-text" style="font-size: 24px; text-align: center;"><strong>CONTACT INFO</strong></div> <br><br> <br>
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <center>
                                            <div class=" h4 my_p">
                                                <i class="fa fa-home fa-2x"></i><br>
                                                <i style="font-size: 8px;">Aspiring office</i><br>
                                                <span  style="font-size:16px;" class="h4 my_p">Lagos State, <br> Nigeria.</span>
                                                <hr class="hr-light">
                                              </div>
                                          </center>
                                      </div>
                                      <div class="col-md-6">
                                          <center>
                                            <div class=" h4 my_p">
                                                <i class="fa fa-phone-square fa-2x"></i><br>
                                                <span  style="font-size:16px;">+234-810-212-9149<br>+234-818-062-8983</span>
                                                <hr class="hr-light">
                                              </div>
                                          </center>
                                      </div>

                                      <div class="col-md-12">
                                         <center>
                                            <div class=" h4 my_p">
                                                <i class="fa fa-envelope fa-2x"></i><br>
                                                <span style="font-size:16px;">hollasheg@gmail.com <br> sheygun@aol.com</span><br>
                                                <span  style="font-size:16px;">Website</span>
                                                <span  style="font-size:16px;">www.samdos.com</span><br><br>
                                              </div>
                                         </center>
                                      </div>
                                  </div>
                              </div>

                            </div>
                        </div>


                      </div>
                    </div>

    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../partial/script %>

</body>

</html>
