<!DOCTYPE html>
<html lang="en">
<%- include ../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        Messages, Suggestions, Compliments and Complains
                    </h3>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="/">Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-envelope"></i> Message Us
                </li>
            </ol>
            <%- include ../partial/extra %>

            <div>

                <div class="row">
                    <div class="col-md-8 mx-auto">
                            <form method="POST" action="/message" id="contact-form" class="text-center border border-light py-5 px-3">
                                    <p class="h3 mb-4">Contact us</p>

                                    <div class="alert alert-danger alert-dismissable" id="notify" style="display: none;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h5 id="status"></h6>
                                        </div>

                                    <input type="text" id="defaultContactFormName"  name="name" class="form-control mb-4" style="height: 50px;" placeholder="Full Name">
                                    <input type="text" id="defaultContactFormPhone" name="phoneNumber" class="form-control mb-4" style="height: 50px;" placeholder="Phone Number">
                                    <input type="email" id="defaultContactFormEmail" name="email" class="form-control mb-4"style="height: 50px;" placeholder="E-mail">
                                    <label>Subject</label>
                                    <select class="browser-default custom-select mb-4" id="feedback" name="feedback" style="height: 50px;">
                                            <option value="" disabled>Choose option</option>
                                            <option value="Feedback" selected>Feedback</option>
                                            <option value="Suggestion">Suggestion</option>
                                            <option value="Complain">Complain</option>
                                            <option value="Advertise">Advertise</option>
                                            <option value="Compliment">Compliment</option>
                                    </select>
                                    <div class="form-group">
                                        <textarea class="form-control rounded-0" name="message" id="exampleFormControlTextarea2" style="height: 150px;" rows="3" placeholder="Message"></textarea>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-4">
                                        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                                    </div>
                                    <a class="btn btn-primary btn-block" onclick="validateForm()"><span class="h4"><b>Send Message</b></span></a>
                                    <!-- <button class="btn btn-info btn-block" onsubmit="validateForm();"><span class="h4"><b>Send Message</b></span></button> -->
                                </form>
                    </div>
                </div>
            </div>

    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../partial/script %>
</body>

</html>
