<!DOCTYPE html>
<html lang="en">
<%- include ../partial/head %>

<body>

    <div id="wrapper">


            <%- include ../partial/dashboard %>
    <!-- ======================================================== main page ===================================================================== -->
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        Hire a Tutor Now
                    </h3>
                </div>
            </div>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-users"></i> Hire a Tutor
                </li>
            </ol>
            <%- include ../partial/extra %>

            <div>

                <div class="row">
                    <div class="col-md-8 mx-auto">
                            <form method="POST" action="tutor" id="tutor-form" class="text-center border border-light py-5 px-3">
                                    <p class="h3 mb-4">Submit Your Application Form</p>

                                    <div class="alert alert-danger alert-dismissable" id="notify" style="display: none;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h5 id="status"></h6>
                                        </div>

                                    <input type="text" id="defaultContactFormName"  name="studentName" class="form-control mb-4" style="height: 50px;" placeholder="Full Name">
                                    <input type="text" id="defaultContactFormPhone" name="StudentPhoneNumber" class="form-control mb-4" style="height: 50px;" placeholder="Phone Number">
                                    <input type="email" id="defaultContactFormEmail" name="StudentEmail" class="form-control mb-4"style="height: 50px;" placeholder="E-mail">
                                    <input type="text" id="defaultContactFormAddress" name="StudentAddress" class="form-control mb-4"style="height: 50px;" placeholder="Home Address">

                                    <select class="browser-default custom-select mb-4" id="gender" name="gender" style="height: 50px;">
                                        <option value="selectGender" selected> -- Choose Gender -- </option>
                                        <option value="Male" >Male</option>
                                        <option value="Female">Female</option>
                                      </select>

                                    <input type="text" id="defaultContactFormFaculty" name="StudentFaculty" class="form-control mb-4"style="height: 50px;" placeholder="Faculty">
                                    <input type="text" id="defaultContactFormDept" name="StudentDept" class="form-control mb-4"style="height: 50px;" placeholder="Department">

                                    <select class="browser-default custom-select mb-4" id="defaultContactFormLevel" name="StudentLevel" style="height: 50px;">
                                      <option value="selectLevel" selected> -- Level -- </option>
                                      <option value="100" >100</option>
                                      <option value="200">200</option>
                                      <option value="300">300</option>
                                      <option value="400">400</option>
                                      <option value="500">500</option>
                                      <option value="others">Others</option>
                                    </select>

                                    <input type="text" id="defaultContactFormCourse" name="StudentCourse" class="form-control mb-4"style="height: 50px;" placeholder="Subject(s)/Course Title(s) and Code(s)">

                                    <select class="browser-default custom-select mb-4" id="classes" name="classes" style="height: 50px;">
                                        <option value="selectClass" selected> -- Choose Preferred Type of Class --</option>
                                        <option value="Private Class" >Private Class</option>
                                        <option value="Public Class">Public Class</option>
                                      </select>

                                    <select class="browser-default custom-select mb-4" id="days" name="days" style="height: 50px;">
                                        <option value="selectDays" selected> -- Choose Preferred Days -- </option>
                                        <option value="Monday - Friday" >Monday - Friday</option>
                                        <option value="Saturday - Sunday">Saturday and Sunday</option>
                                      </select>

                                      <select class="browser-default custom-select mb-4" id="classTime" name="classTime" style="height: 50px;">
                                        <option value="chooseTime"selected> -- Choose Preferred Time -- </option>
                                        <option value="9am - 12am" >9am - 12pm</option>
                                        <option value="3pm - 6pm">3pm - 6pm</option>
                                      </select>

                                      <div class="checkbox">
                                        <label class="font-weight-bold"><input type="checkbox" value="" id="agreed" onclick="agreeds();">I AGREED TO SAMDOS TERMS AND CONDITIONS</label>



                                    <a class="btn btn-primary btn-block" style="display: none;" id="submitForm"  onclick="validateForm2()"><span class="h4"><b>Submit Form</b></span></a>
                                </form>
                    </div>
                </div>
            </div>

    <!-- =============================================================== footer ============================================================ -->
    <div style="height: 30px;"></div>
<%- include ../partial/footer %>

    </div>
        </div>

    </div>




<%- include ../partial/script %>

</body>

</html>
